<h1> 個人振り返り</h1>
<% if logged_in? %>
    <%= render 'layouts/personal_retro' %>

<% else %>
<ul>
    <li>manabaで入力した個人振り返りを閲覧することができます。</li>
    <li>閲覧をするためにはまずはアカウントを作成してログインをしてください。</li>
    <ul>
        <li><%= link_to "アカウント作成", "/users/new" %></li>
        <li>enPiTの履修者リストに登録されている人とメンター・教員のみがアカウント作成可能です。</li>
        <li>登録時に振り返りの公開範囲を指定します（全員、チーム内、本人のみ）</li>
    </ul>
    <li>チームメンバーや他のチームの人たちの振り返りも閲覧可能です（権限があれば）</li>
    <li>最低限の機能から作っていますので、要望やバグの発見等あればissueに投げてください。</li>
</ul>



<% end %>